.tableKeyboard {
  margin-left: 50px;
  width: auto;
  border: 2px solid black;
}

button {
  padding: 15px;
}

#buttonRow {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 50px;
}
