.tableKeyboard {
  margin-left: 50px;
  width: auto;
  border: 2px solid black;
  text-align: end;
}

button {
  padding: 15px;
}

#buttonRow {
  display: flex;
  text-align: center;
  align-items: ;
  font-size: 50px;
}

tr {
  text-align: center;
}
